<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Child_Talker.Properties.HardareIntegration" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Child_Talker.Properties.AutoscanSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Child_Talker.Properties.Autoscan" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Child_Talker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Child_Talker.Properties.HardareIntegration>
            <setting name="Active_COM_Port" serializeAs="String">
                <value />
            </setting>
            <setting name="Roku_IP" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
        </Child_Talker.Properties.HardareIntegration>
        <Child_Talker.Properties.AutoscanSettings>
            <setting name="Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="scanSpeed" serializeAs="String">
                <value>2000</value>
            </setting>
        </Child_Talker.Properties.AutoscanSettings>
        <Child_Talker.Properties.Autoscan>
            <setting name="Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScanSpeed" serializeAs="String">
                <value>2000</value>
            </setting>
        </Child_Talker.Properties.Autoscan>
        <Child_Talker.Properties.Settings>
            <setting name="Page_Background" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="Scan_Speed" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="Background_Highlighted" serializeAs="String">
                <value>#FFFFFF00</value>
            </setting>
            <setting name="Background_Base" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="Background_MouseHover" serializeAs="String">
                <value>#FF999900</value>
            </setting>
            <setting name="Background_EventInner" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="Background_EventOuter" serializeAs="String">
                <value>#FF999900</value>
            </setting>
            <setting name="Foreground_Highlighted" serializeAs="String">
                <value>#FFC000C0</value>
            </setting>
            <setting name="Foreground_Base" serializeAs="String">
                <value>#FF00CFF3</value>
            </setting>
            <setting name="Foreground_MouseOver" serializeAs="String">
                <value>#FF700070</value>
            </setting>
            <setting name="BorderColor_Base" serializeAs="String">
                <value>#FFFF0000</value>
            </setting>
            <setting name="BorderColor_Highlighted" serializeAs="String">
                <value>#FFFF0000</value>
            </setting>
            <setting name="AutoscanEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Page_SecondaryBackground" serializeAs="String">
                <value>#FF666666</value>
            </setting>
        </Child_Talker.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.X509Certificates" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>