<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Child_Talker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Child_Talker.Properties.Settings>
            <setting name="BaseForeground" serializeAs="String">
                <value />
            </setting>
            <setting name="BaseBackground" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoscanForeground" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoscanBackground" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoscanSpeed" serializeAs="String">
                <value />
            </setting>
        </Child_Talker.Properties.Settings>
    </userSettings>
</configuration>